/* 
    Created on : Oct 16, 2016, 9:50:54 PM
    Author     : Daniel
*/
article{
    height:100%;
}

#date_form,#map{
    
    max-height: 80%;
    height:80%;
    min-height: 80%;
}

#date_form{
    width: 12%;
    float:left;
    background: #125492;
}

#map{
    margin-bottom: 8%;
}



.date_form{
    color: white;
    text-align: center;
}

.input_date{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    border-radius: 5px;
}

#error_msg{
    color: red;
    font-size: 0.5em;
}

#legend{
    background-color: white;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

#legend li{
    list-style-type: disc;
    margin-left: 20%;
}

#legend li:last-child{
    list-style-type: circle;
    color:black
}

#p_legend{
    color:white;
    margin-top: 1%;
    text-align: center;
}

#color1{
    color: white;
    text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000; 
}
#color2{
    color: #0b9c31;
}
#color3{
    color: #003f27;
}
#color4{
    color: #ffe216;
}
#color5{
    color: #cfc823;
}
#color6{
    color: #f48319;
}
#color7{
    color: #bc116e;
}
#color8{
    color: #ff0000;
}
#color9{
    color: #5b0000;
}
#color10{
    color: #000000;
}
